.t-1 {
  @include font-size(16);
}

.t-2 {
  @include font-size(12);
}

.t-3 {
  @include font-size(10);
}

.c-accent {
  color: $accent;
}

.fw-b {
  font-family: 'RedHatBold;';
}

.fw-m {
  font-family: 'RedHatMed';
}

.fw-r {
  font-family: 'RedHatRegular';
}

.w-100-md {
  @media(max-width: 767px) {
    width: 100% !important;
  }
}

.no-event {
  cursor: not-allowed;
  pointer-events: none;
}

.mt-16 {
  margin-top: 16px;
}

.pr-0-md {
  @media(max-width: 767px) {
    padding-right: 0 !important;
  }
}