.form {
  &__grid {
    display: flex;
  }
  &__label {
    color: $secondary;
    display: block;
  }
  &__group {
    margin-bottom: 24px;
  }
  &__control {
    background-color: $tertiary;
    border: none;
    border-radius: 8px;
    color: #9D9D9D;
    display: block;
    outline-color: $accent;
    padding: 8px 16px;
    width: 100%;
    &:focus {
      background-color: #fff;
      color: $primary;
    }
  }
}
