@font-face {
  font-family: 'RedHatReg';
  src: url('../fonts//RedHatText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RedHatMed';
  src: url('../fonts//RedHatText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RedHatBold';
  src: url('../fonts//RedHatText-Bold.ttf') format('truetype');
}

:root {
  // @media(min-width: 1440px) {
  //   font-size: 100%;
  // }
  // @media(min-width: 1199px) {
  //   font-size: 95%;
  // }
  // @media(min-width: 991px) {
  //   font-size: 90%;
  // }
  font-size: 100%;
  body {
    color: $primary;
    font-size: 1rem;
  }
}

* {
  color: $primary;
  font-family: 'RedHatReg';
}

a {
  color: $accent;
}

h1 {
  font-family: 'RedHatMed';
  @include font-size(32);
}

h2 {
  font-family: 'RedHatMed';
  @include font-size(24);
}

h3 {
  font-family: 'RedHatMed';
  @include font-size(18);
}

h4 {
  font-family: 'RedHatMed';
  @include font-size(16);
}

h5 {
  font-family: 'RedHatMed';
  @include font-size(12);
}

h6 {
  font-family: 'RedHatMed';
  @include font-size(10);
  letter-spacing: 1px;
  text-transform: uppercase;
}